<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shoshin Trading Journal - Login</title>
    <link href="/css/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="max-w-md w-full space-y- bg-white p-10 rounded-lg shadow-md">
        <%- body %>
    </div>
</body>
</html>